.card{
    padding: 0.5%;
    margin: 1% 2%;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius : 25px;
}

.expense_list{
    background-color: lightcoral;
    border-radius: 25px;
    margin: 0% 27%;
    padding: 0.1%;
    font-weight: bold;
    color: white;
}

.expense_item{
    background-color: palevioletred;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.expense_date{
    padding: 1% 5%;
    background-color: palevioletred;
}

.expense_title{
    padding: 1% 30%;
}

.expense_amount{
    padding: 0% 3%;
}